<h1>Here are all of your musician's</h1>
<h2><%= link_to " Click Here ", new_album_path %> to start an album:</h2>

<% @musicians.each do |m|%>
<div>
<h2><%=link_to "#{m.name}", m %></h2>
 <p><%=link_to "Edit", edit_musician_path(m) %> | <%=button_to "Delete", m, :method => :delete %></p>
</div>
<% end %>